a{
    text-decoration: none !important;
    }
.header-contect{
    text-align: center;
}

.header-contect h1{
    font-size: 5.5rem;
    font-weight: bold;
}
.header-contect h1 span{
    color:#ffde00 !important;
}
.header-contect p{
    margin-bottom: 4rem;
}
.btn-header-1{
    padding: 16px 70px;
    border-radius: 3px;
    background-color: #0000002b;
    border: 3px solid #fff;
    margin: 15px;
    transition: all 0.3s;
}
.btn-header-1:hover{
    background-color: transparent;
}
.btn-header-2{
    padding: 16px 70px;
    border-radius: 3px;
    background-color: #e8c903;
    border: 3px solid #e8c903;
    margin: 15px;
    transition: all 0.3s;
}
.btn-header-2:hover{
    background-color: #6a4d8a;
    border-color: #6a4d8a;
}
