.service{
    text-align: center;
}
.service div:first-child{
    color: var(--orangeColor);
}
.service-icon {
    height: 2rem;
}
.service h4{
    margin: 16px 0; 
}
.service p{
    color:rgba(0, 0, 0, 0.429) ;
}
.row .col-md-4:nth-child(2) .service div{
    color: var(--yellowColor);
}
.row .col-md-4:nth-child(3) .service div{
    color: var(--purpleColor);
}

