.service{
    text-align: center;
}
.service div:first-child{
    color: rgb(241, 139, 109);
}
.service-icon {
    height: 2rem;
}
.service h4{
    margin: 16px 0; 
}
.service p{
    color:rgba(0, 0, 0, 0.429) ;
}
.row .col-md-4:nth-child(2) .service div{
    color: #f1d204;
}
.row .col-md-4:nth-child(3) .service div{
    color: rgb(106, 77, 138);
}

